@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'pixelify';
    src: url('/src/fonts/pixelify_sans/pixelify.ttf') format('truetype');
}

@font-face {
    font-family: 'miriadpro';
    src: url('/src/fonts/miriad_pro/Myriad Pro Semibold.ttf') format('truetype');
}

@font-face {
    font-family: 'finalf';
    src: url('/src/fonts/finalfantasy/finalfantasy.otf') format('opentype');
}

@keyframes draw-line {
    from {
        width: 0;
    }
    to {
        width: 105%;
    }
}


.animate-draw-line::after {
    content: "";
    display: block;
    margin-top: 20px;
    transform: translateX(-3.5%);
    border-bottom: 10px solid currentColor;
    width: 0;
    animation: draw-line 2s ease-out forwards;
    animation-delay: 1.4s; /* adjust this value to match the duration of the slide-up animation */
}

@keyframes flash {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }

}

.animate-flash {
    animation: flash 3s;
    opacity: 0;
    animation-delay: 3.4s;
    animation-fill-mode: forwards;
}

@keyframes flash-infinite {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }

}

.animate-flash-infinite {
    animation: flash-infinite 2s infinite;
    opacity: 0;
    animation-delay: 3.6s;
}

.text-xxl {
    font-size: 12rem /* 128px */;
    line-height: 1;
    -webkit-text-stroke: 2px white;
}

.line::after {
    content: "";
    display: block;
    margin-top: 20px;
    transform: translateX(-3.5%);
    border-bottom: 10px black solid;
    box-shadow: 0 0 3px white, 0 0 3px white;
    width: 105%;
}

.cursor:hover::before {
    content: url("./assets/cursor.png");
    transform: translateY(-20px) translateX(50px);
    padding-right: 10px; /* Padding around text */
    border: none; /* No border */
    display: inline-block;
    vertical-align: middle;
    animation: cursor 1.3s infinite;
}


button .classic::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 3px;
    transform: translateX(-10vw);
    width: 15vw;
    background: linear-gradient(to right, transparent, black, transparent);
}




button .ff7 {
    content: '';
    position: absolute;
}

button .ff7 {
    content: '';
    display: inline-flex;
    color: white;
    padding: 0.5vh 1vw;
    margin-top: 0.4vh;
    position: relative;
    width: 20vw;
    background: linear-gradient(to right, #00007c, #00007c, transparent, transparent);
}

button .ff7::before {
    content: '';
    position: absolute;
    left: 0; /* Adjust as needed */
    top: 0;
    bottom: 0;
    width: 3px; /* Adjust as needed */
    background-color: rgba(91, 186, 255, 0.55); /* Default color */
}

button .ff7:hover::before {
    background-color: #DEFBFC;
    box-shadow: #0784ea -3px 0px 20px 1px;
}

button .ff7:hover {
    content: '';
    display: inline-flex;
    position: relative;
    background: linear-gradient(to right, #77F5FF, #357BF6, #020C18, #0E2C65, transparent);
    z-index: 5;
}


@keyframes cursor {
    0%, 100% {
        transform: translateX(-1.5vw);
    }
    50% {
        transform: translateX(0vw);
    }
}